---
import { type CollectionEntry, getCollection } from 'astro:content'
import { Breadcrumbs, type BreadcrumbsProps } from '@/components/Breadcrumb'
import BaseLayout from '@/layouts/BaseLayout.astro'

export async function getStaticPaths() {
  const notes = await getCollection('notes')
  return notes.map((note) => ({
    params: { slug: note.slug },
    props: note,
  }))
}
type Props = CollectionEntry<'notes'>

const note = Astro.props
const { Content, headings } = await note.render()

const items: BreadcrumbsProps[] = [
  { href: '/', label: 'Home' },
  { href: '/writing', label: 'Writing' },
  { href: '/notes', label: 'Notes', isActive: true },
  { href: '/snippets', label: 'Snippets' },
]
---

<BaseLayout>
  <Breadcrumbs slot="breadcrumbs" client:load breadcrumbItems={items} />

  <h1>{note.data.title}</h1>

  <Content />
</BaseLayout>
