@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Register your custom font family and tell the browser where to find it. */
  @font-face {
    font-family: 'Melodrama';
    src: url('/fonts/Melodrama/Melodrama-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --foreground-secondary: 20 14.3% 4.1% / 76%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --foreground-secondary: 60 9.1% 97.8% / 56% /* rgb(252, 237, 237, .52) */;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  body::before {
    content: '';
    filter: url(./../assets/noise.svg#noiseFilter);
    z-index: 99999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 5%;
  }
  .external-link {
    @apply text-foreground;
  }
  .link,
  .external-link {
    @apply inline-block break-all relative items-center font-medium;
  }
  .external-link::after {
    content: '';
    @apply bg-[url('./../assets/icons/arrow-up-right-dark.svg')] dark:bg-[url('./../assets/icons/arrow-up-right.svg')] bg-no-repeat bg-cover inline-block h-[.875rem] w-[.875rem];
  }
  .link::before,
  .external-link::before {
    content: '';
    @apply absolute left-0 bottom-0 w-full h-px transition-all bg-foreground/20 -z-10 rounded-sm;
  }
  .link::before:hover,
  .external-link::before:hover {
    @apply bg-foreground/5 dark:bg-foreground/15 h-full;
  }
  .icon-link {
    @apply text-foreground-secondary relative inline-block p-1;
  }
  .icon-link:hover {
    content: '';
    @apply transition-all bg-foreground/5 dark:bg-foreground/15 text-foreground rounded-sm;
  }
  p {
    @apply text-foreground-secondary font-light tracking-wide;
  }
  p > b {
    @apply text-foreground;
  }
  .content-grid {
    --padding-inline: 1rem;
    --content-max-width: 70ch;
    --breakout-max-width: 95ch;

    --breakout-size: calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 2
    );

    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr)
      [breakout-start] minmax(0, var(--breakout-size))
      [content-start] min(
        100% - (var(--padding-inline) * 2),
        var(--content-max-width)
      )
      [content-end]
      minmax(0, var(--breakout-size)) [breakout-end]
      minmax(var(--padding-inline), 1fr) [full-width-end];
  }

  /* .full-width > :where(astro-island, astro-slot) > div */
  .content-grid > * {
    grid-column: content;
  }

  .content-grid > .breakout {
    grid-column: breakout;
  }

  /* .content-grid > :where(astro-island, astro-slot) > *:first-child  */
  .content-grid > .full-width {
    grid-column: full-width;
    /* display: grid;
    grid-template-columns: inherit; */
  }
}
