---
const today = new Date();
---

<footer
  class="bg-[url('./../assets/logo-dark.svg')] dark:bg-[url('./../assets/logo.svg')] gradient-mask-t-50 bg-contain bg-bottom mt-20 py-20"
>
  <div class="container">
    <p class="text-xs tracking-widest text-center">
      &copy; {today.getFullYear()} Mustafa Adam Alshammaa. All rights reserved.
    </p>
  </div>
</footer>
