---
const today = new Date()
---

<footer
  class="bg-[url('./../assets/logo-pattern-dark.svg')] dark:bg-[url('./../assets/logo-pattern.svg')] gradient-mask-t-50-d bg-contain bg-bottom mt-20 py-20 bg-repeat-y"
>
  <div class="container">
    <p class="text-xs tracking-widest text-center">
      &copy; {today.getFullYear()} Mustafa Adam Alshammaa. All rights reserved.
    </p>
  </div>
</footer>
