---
const today = new Date();
---

<footer class="py-20">
  <div class="container">
    <p class="text-xs text-center">
      &copy; {today.getFullYear()} Mustafa Adam Alshammaa. All rights reserved.
    </p>
  </div>
</footer>
