---
import { ModeToggle } from '@/components/ModeToggle'
import Logo from '@/assets/logo.svg?raw'

interface Props {
  title: string
}

const { title } = Astro.props
---

<header>
  <div class="flex justify-between items-center gap-2 mb-4">
    <a href="/" aria-label="M logo" class="">
      <Fragment set:html={Logo} />
    </a>
    <h1 class="font-display up text-lg truncate" aria-label={title}>{title}</h1>
    <ModeToggle client:load />
  </div>
</header>
