---
import { type CollectionEntry, getCollection } from 'astro:content'
import { Breadcrumbs, type BreadcrumbsProps } from '@/components/Breadcrumb'
import BaseLayout from '@/layouts/BaseLayout.astro'
import BlogPost from '@/layouts/BlogPost.astro'
import TableOfContents from '@/components/TableOfContents'
import generateToc from '@/lib/generateToc'
import Prose from '@/components/Prose.astro'

export async function getStaticPaths() {
  const snippets = await getCollection('snippets')
  return snippets.map((snippet) => ({
    params: { slug: snippet.slug },
    props: snippet,
  }))
}
type Props = CollectionEntry<'snippets'>

const snippet = Astro.props
const { Content, headings } = await snippet.render()

const items: BreadcrumbsProps[] = [
  { href: '/', label: 'Home' },
  { href: '/writing', label: 'Writing' },
  { href: '/notes', label: 'Notes' },
  { href: '/snippets', label: 'Snippets', isActive: true },
]
---

<BlogPost {...snippet.data}>
  <Breadcrumbs slot="breadcrumbs" client:load breadcrumbItems={items} />

  {
    headings && (
      <Fragment slot="aside">
        <nav>
          <TableOfContents
            client:media="(min-width: 64em)"
            toc={generateToc(headings)}
            isMobile={false}
          />
        </nav>
      </Fragment>
    )
  }

  <Prose>
    <Content />
  </Prose>
</BlogPost>
