---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Header from '@/components/Header.astro'
import { Breadcrumbs, type BreadcrumbsProps } from '@/components/Breadcrumb'
import { getCollection } from 'astro:content'
import { DataTable } from '@/components/snippets/data-table'
import { isProd } from '@/lib/utils'

const items: BreadcrumbsProps[] = [
  { href: '/', label: 'Home' },
  { href: '/writing', label: 'Writing' },
  { href: '/notes', label: 'Notes' },
  { label: 'Snippets' },
]

// Draft posts available during local dev, but not built in production.
const snippets = await getCollection('snippets', ({ data }) => {
  return isProd ? data.isDraft !== true : true
})

// Sort posts by published date, latest first (top to bottom).
const sortedSnippets = snippets.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<BaseLayout>
  <section>
    <Header title="Snippets" />

    <div class="flex flex-col text-sm mb-10">
      <p>
        A space for sharing useful code snippets – by <a
          href="/"
          class="link ml-1">Taffo</a
        >
      </p>
      <div class="flex items-center gap-x-6 mt-1">
        <Breadcrumbs client:load breadcrumbItems={items} />
      </div>
    </div>

    <div class="columns-1 md:columns-2 text-sm text-justify mb-20">
      <p>
        A handy collection of code gems! Dive in and discover a variety of quick
        one-liners and slightly fancier tricks. Feel free to copy and paste
        these snippets directly into your projects to save time and effort.
      </p>
      <p>
        Whether you're looking to streamline your workflow or add a touch of
        magic to your code, these snippets are here to help. Do you have a cool
        snippet to share? Let me know—I'm always excited to exchange coding
        tricks and tips.
      </p>
    </div>
  </section>

  <section class="breakout">
    <DataTable client:load data={sortedSnippets} />
  </section>
</BaseLayout>
